.logo{
  max-width: 150px;
}

.navbar{
  align-items: center;
  justify-content: center;
}



@media (min-width: 830px) {
  .search-bar {
    width: 500px; /* Tăng kích thước của search bar khi đạt đến kích thước medium */
  }
}


@media (max-width: 730px) {
  .search-bar {
    width: 250px; 
  }
}

